#c1red{
    background-color: red;
    width: 300px;
    height: 80px;
    float: left;

}
#c2red{
    background-color: red;
    width: 300px;
    height: 190px;
    float: left;
    margin-top: 91px;
    margin-left: -300px;
}
#c3red{
    background-color: red;
    width: 300px;
    height: 80px;
    margin: 4px;
    float: left;
    margin-top: 291px;
    margin-left:-300px ;
}
#c4red{
    background-color: red;
    width: 300px;
    height: 220px;
    margin: 4px;
    float: left;
    margin-top: 386px;
    margin-left: -300px;
    overflow: auto;
}
#c5black{
    background-color: black;
    color: red;
    width: 300px;
    height: 400px;
    float: left;
    margin-top: auto;
    overflow: auto;
}
#c6black{
    background-color: black;
    color: red;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 410px;
    margin-left: -298px;
}
#c7black{
    background-color: black;
    color: red;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 520px;
    margin-left: -300px;
}
#c8red{
    background-color: red;
    margin: 4px;
    color: black;
    width: 300px;
    height: 360px;
    float: left;
    overflow: auto;
}
#c9red{
    background-color: red;
    color: black;
    width: 300px;
    height: 115px;
    float: left;
    margin-top: -137px;
    margin-left: 308px;
}
#c10red{
    background-color: red;
    color: black;
    width: 300px;
    height: 120px;
    float: left;
    margin-top: -10px;
    margin-left: 308px;
}

