
.columna1{
    
}
.img{
    height: 55dvh;
    width: 99%;
}
.columna2{
    border: 1px solid black;
    height: 98dvh;
    text-align: center;
    background-image: url("../img/istockphoto-538036293-612x612.jpg");
    color: white;
    overflow: scroll;
    background-size: 129%;
   
}
.tikets{
    border: 1px solid black;
    margin: 1%;
    text-align: left;
    background-color: #d8daddb8;
    color: black;
}
.comprar{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin: 1%;
}
.botonComprar{
    height: 4dvh;
    width: 29%;
}
.eventos{
    height: 65dvh;
    border: 1px solid black;
    overflow: scroll;
}
.marco{
    margin: 1%;
}
.total{
    text-align: left;
    margin: 1%;
}
table{
    margin: 20px auto;
    background-color: #00000078;
}
.informacionCliente{
    background-color: #00000080;
    width: 30%;
}
.datosCliente{
    text-align: -webkit-center;
}
#ticketCompra{
    text-align: initial;
    margin: 4%;
}