
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.columna1{
    
}
.img{
    height: 55dvh;
    width: 99%;
}
.columna2{
    border: 1px solid black;
    height: 222dvh;
    text-align: center;
    background-image: url("../img/panorama-del-estadio-de-fútbol-de-sol.webp");
    color: white;
    overflow: scroll;
    background-size: 276%;
   
}
.tikets{
    border: 1px solid black;
    margin: 1%;
    text-align: left;
    background-color: #d8daddb8;
    color: black;
}
.comprar{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin: 1%;
}
.botonComprar{
    height: 4dvh;
    width: 29%;
}
.eventos{
    height: 65dvh;
    border: 1px solid black;
    overflow: scroll;
}
.marco{
    margin: 1%;
}
.total{
    text-align: left;
    margin: 1%;
}
.datosCliente{
    text-align: left;
    margin: 1%;

}