.header-flex{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(65, 34, 34);
    color: rgb(223, 173, 112);
    padding: 4%;
}
.marco-imgatencion{
    height: 60dvh;
}
.marco-articulo{
    background-color: rgb(255, 237, 215);
}
.marco-presio{
    margin: 3%;
}
.articulos{
    background-color: white;
}
.interaccion{
    background-color: rgb(41, 9, 9);
    color: white;
}
.atencion{
    color: white;
    background-color: rgba(104, 69, 26, 0.918);
    text-align: center;
    height: 40dvh;
    border: 1px solid rgba(104, 69, 26, 0.918);
}
.boton-menu{
    background-color: rgb(223, 173, 112);
    height: 6dvh;
    width: 53%;
    border-radius: 21px;
}
.img-atencion{
    color: rgb(41, 9, 9);
    background-color: rgb(223, 173, 112);
    border: 3px dashed black;
    height: 20%;
    margin: 3%;
}
.main-flex{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.marco-h1{
    background-color: rgb(255, 237, 215);
    text-align: center;
    
}
.marco-h1-2{
    display: none;

}
.precio{
    color: rgb(238, 151, 45);
}
.articulos{
    border: 1px solid black;
    height: 25dvh;
    margin: 8%;
    border-radius: 17px;
}
.articulos1{
    display: none;
    border: 1px solid black;
    height: 25dvh;
    
}
.img-articulo{
    text-align: center;
    background-color: rgb(223, 173, 112);
    border: 2px dashed black;
    height: 20%;
    border-radius: 8px;
}
.img-articulo1{
    border: 2px dashed black;
    height: 5dvh;
}
.contactos{
    border: 1px solid black;

}
.datos{
    border: 1px solid rgb(65, 34, 34);
    background-color: rgb(65, 34, 34);
    color: white;
    padding: 2%;
}
.boton-enviar{
    display: inline-block;
    width: 26%;
    height: 5dvh;
    margin: 1%;
    border-radius: 15px;
    background-color: rgb(223, 173, 112);
}
.name{
    width: 95%;
    margin: 1%;
    height: 15%;
}
.footer{
    border: 1px solid black;
}
.holaur{
    display: none;
}
.info{
    color: rgb(223, 173, 112);
    background-color: rgb(41, 9, 9);
    text-align: center;
    border: 1px solid rgb(41, 9, 9);;
    height: 14dvh;
}
.redes{
    color: rgb(223, 173, 112);
    background-color: rgb(41, 9, 9);
    text-align: center;
    border: 1px solid rgb(41, 9, 9);
}
.redeso{
    display: none;
}
.red{
    display: none;
}
.horario{
    display: none;
}
.enlaces{
    display: none;
}
.ticktok{
    display: none;
}
@media (min-width: 768px){
    .header-flex{
        display: flex;
        flex-direction: row;
        gap: 30%;
        
    }
    .boton-menu{
        width: 20%;
        border-radius: 51px;
    }

    .marco-articulo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        
    }
    .articulos{
        /*height: 23dvh;*/
         border: 1px solid black;
         height: 25dvh;
         margin: 8%;
         border-radius: 17px;
    }
    .articulos1{
       display: block;
       border: 1px solid black;
       margin: 8%;
       border-radius: 17px;
       background-color: white;
    }
    .img-articulo1{
       text-align: center;
       background-color: rgb(223, 173, 112);
       border: 2px dashed black;
       height: 20%;
       border-radius: 8px;
    }
    .main-flex{
        
    }
    .marco-h1{
        display: none;
        text-align: center;
    }
    .marco-h1-2{
        display: block;
        background-color: rgb(255, 237, 215);
        text-align: center;

    }
    .interaccion{
        display: flex;
        flex-direction: row;
        gap: 13%;
        background-color: rgb(65, 34, 34);
        
    }
    .titulo{
        margin: 1%;
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 14dvh;
    }
    .holaur{
        display: block;
    }
    .redes{
        height: 14dvh;
    }
    .marco-imgatencion{
        height: 60dvh;
    }
    .datos{
        padding: 2%;
        
    }
    .contactos{
        
    }
    .boton-enviar{
        display: inline-block;
        margin: 1%;
        width: 13%;
        border-radius: 55px;
        height: 4dvh;
    }
    .name{
        height: 4dvh;
    }
    .redeso{
        display: block;
    }
    .f-i{
        display: none;

    }
    .red{
        display: block;
    }
    .horario{
        display: none;
    }
    .enlaces{
        display: none;
    }
    .ticktok{
        display: none;
    }
}
@media (min-width: 1024px){
    .main-flex{
        height: 70dvh;
    }
    .header-flex{
        gap: 49%;
    }
    .atencion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 17dvh;
        padding: 2%;
    }
    .atenorder{
        text-align: left;

    }
    .img-atencion{
        height: 12dvh;
    }
    .marco-articulo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 32dvh;
    }
    .articulos{
        
    }
    .articulos1{
        display: none;
    }
    .main-flex{
        height: 40dvh;
    }
    .contactos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .datos{
        height: 27dvh;
    }
    .boton-enviar{
        display: inline-block;
        height: 4dvh;
        width: 22%;
        margin: 1%;
        border-radius: 32px;
    }
    .boton-menu{
        width: 39%;
        border-radius: 51px;
        height: 5dvh;
    }
    .horario{
        display: block;
    }
    .footer{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
    }
    .enlaces{
        display: block;
        color: rgb(223, 173, 112);
        background-color: rgb(41, 9, 9);
        text-align: center;
        border: 1px solid rgb(41, 9, 9);
        height: 17dvh;

    }
    .info{
        height: 17dvh;
        text-align: left;
    }
    .redes{
        height: 17dvh;
    }
    .empresa{
        margin: 3%;
    }
    .ticktok{
        display: block;
    }

    
}
