.contenedor{
    display: grid;
    grid-template-columns: 1fr 8fr 4fr ;
    gap: 1%;
    height: 97vh;
}
.col-1{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: white;
    padding: 2rem;
}
.col-2{
    background-color: white;
    padding: 1%;
    overflow: scroll;
}
.col-3{
    background-color: white;
    padding: 2%;
}
.icono{
    font-size: 26px;
    margin: 29%;
    cursor: pointer;
}
.icono:hover{
    color: #1da1f2 ;
}
/*.img-icono{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}*/
.container2{
    display: flex;
    width: 100%;
    height: 6%;
    border-radius: 8px;
}
.columna2-1{
    width: 50%;
}
.columna2-2{
    width: 50%;
}
.boton{
   padding: 10px 20px;
   background-color: white;
   color: black;
   border: 1px solid whitesmoke;
   width: 100%;
   height: 100%;
   cursor: pointer;

}
.boton:hover{
    background-color: whitesmoke;
    color: black;
}
.cja{
    background-color: white;
    border-bottom: 1px solid #222;
    padding: 12px;
    border: 1px solid whitesmoke;
}
/*.persona{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}
.persona .avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.06);
}*/
.post-input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #eee;
    font-size: 99%;
    padding: 2% ;
}
.post-bottom{
    display: flex;
    align-items: center;
    gap: 12px;
}
.post-icons i{
    font-size: 18px;
    color: #1da1f2;
    cursor: pointer;
}
.post-icons{
    display: flex;
    flex-direction: row;
    gap: 33%;
    align-items: center;
}
.post-btn{
    margin-left: auto;
    background: #1da1f2;
    color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.img-persona{
    width: 9%;
    height: 100%;
    border-radius: 50%;
}
.muro{
    display: flex;
    flex-direction: column;
    gap: 1%;
    
}
.publicacion{
    height: 50%;
    background-color: white;
    color: white;
    padding: 15px;
    border: 1px solid whitesmoke;
}
.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}
.foto-perfil{
    width: 8%;
    height: 3rem;
    border-radius: 50%;
}
.texto{
    margin: 10px;
    color: black;
}
.img-post{
    width: 100%;
    border-radius: 8px;
    height: 93%;
}
.m-img{
    width: 100%;
    height: 95vh;
}

.tweet-icons{
    display: flex;
    flex-direction: row;
    gap: 19%;
}
body{
  background: white;
  font-family:Arial;
}

.otras-opciones{
  width:350px;
  margin-left:20px;
}

.caja-buscador input{
  width: 85%;
  padding:12px;
  border-radius:30px;
  border:1px solid whitesmoke;
  background:white;
  color: black;
}

.card{
  border:1px solid whitesmoke;
  border-radius:15px;
  padding:15px;
  margin-top:15px;
  color: black;
  width: 83%;
}

.subscribe button{
  background:#1d9bf0;
  border:none;
  padding:10px 20px;
  border-radius:25px;
  color:white;
  margin-top:10px;
  cursor:pointer;
}



.trend{
  margin-bottom:12px;
}

.trend span{
  font-size:12px;
  color:gray;
}



.card a{
  color:#1d9bf0;
  text-decoration:none;
}

.user{
  display:flex;
  align-items:center;
  gap:10px;
}

.user img{
  width:40px;
  height:40px;
  border-radius:50%;
}

.user button{
  margin-left:auto;
  padding:6px 15px;
  border-radius:20px;
  border:none;
  font-weight:bold;
  background-color: #1da1f2;
  color: white;
  border: 1px solid white;
}
.hamburguesa{
    font-size: 20px;
    cursor: pointer;
    display: none;
    text-align: right;
}
#menu-toggle{
    display: none;
}
.menu-movil{
    position: fixed;
    top: 0;
    right:  -100%;
    width: 70%;
    height: 100%;
    background: #000;
    color: white;
    padding: 20px;
    transition: 0.3s;
}
#menu-toggle:checked ~ .menu-movil{
    right: 0;
    background-color: white;
}
.fab{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 11%;
    right: 5%;
    background-color: #1d9bf0;
    color: white;
    border: 1px solid white;
    display: none !important;
     
}
h3{
    color: black;
}
.icon{
    color: black;
}

@media(max-width:1024px){
    .col-3{
        display: none;
    }
    .hamburguesa{
        display: block;
        margin-bottom: 1%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .col-1{
        width: 14%;
        height: 10%;
        order: 2;
        flex-direction: row;
        padding: initial;
        gap: 82%;
    }
    .boton{
        border: 1px solid white;
        font-size: 30px;
    }
    .card{
        width: 95%;
    }
    .icono{
        font-size: 26px;
        color: white;
        margin: 29%;
        cursor: pointer;
    }
    .tweet-icons{
        gap: 25%;
        font-size: 25px;
    }
    .texto{
        font-size: 35px;
    }
    h3{
        font-size: 35px;
    }
    .foto-perfil{
        width: 11%;
        height: 11%;
        border-radius: 50%;
    }
    .post-icons {
        align-items: center;
        gap: 45%;
        display: flex;
        flex-direction: row;
    }
    .post-icons i{
        font-size: 30px;
    }
    .post-input{
        font-size: 30px;
    }
    .caja-buscador input{
        font-size: 30px;
    }
    .card{
        font-size: 30px;
    }
    .trend span{
        font-size: 25px;
    }
    .user button{
        font-size: 25px;
    }
}

@media(max-width:768px){
    .col-3{
        display: none;
    }
    .hamburguesa{
        display: block;
        margin-bottom: 10px;

    }
     .col-1{
        width: 14%;
        height: 10%;
        order: 2;
        flex-direction: row;
        padding: initial;
        gap: 75%;
    }
     .tweet-icons{
        gap: 25%;
        font-size: 19px;
    }
    .icono{
        color: #000;
    }
    .texto{
        font-size: 25px;
    }
     h3{
        font-size: 25px;
    }
    .foto-perfil{
        width: 11%;
        height: 3rem;
        border-radius: 50%;
    }
    .post-icons {
        align-items: center;
        gap: 31%;
        display: flex;
        flex-direction: row;
    }
    .post-icons i{
        font-size: 25px;
    }
    .post-input{
        font-size: 25px;
    }
    .caja-buscador input{
        font-size: 25px;
    }
    .card{
        font-size: 25px;
    }
    .trend span{
        font-size: 25px;
    }
    .user button{
        font-size: 25px;
    }
    .boton{
        font-size: 25px;
    }


    
}
@media(max-width:480px){
    .col-3{
        display: none;
    }
    .hamburguesa{
        display: block;
        margin-bottom: 10px;

    }
     .col-1{
        width: 14%;
        height: 10%;
        order: 2;
        flex-direction: row;
        padding: initial;
        gap: 63%;
        
    }
    .tweet-icons{
        gap: 16%;
        font-size: 90%;
        

    }
    .publicacion{
        padding: 2%;
        height: 32rem;
    }
    .img-post{
        height: 21rem;
    }
    .m-img{
        height: 23rem;
        
    }
    .texto{
        font-size: 94%;
    }
    h3{
        font-size: 129%;
    }
    .persona{
        gap: 3%;
    }
    .post-icons{
        gap: 6%;
        font-size: 154%;
    }
    .post-input{
        font-size: 129%;
    }
    .boton{
        font-size: 99%;
    }
    .cja{
       display: none;
    
    }
    .caja-buscador input{
        font-size: 129%;
    }
    .card{
        font-size: 82%;
    }
    .trend span{
        font-size: 129%;
    }
    .user button{
        font-size: 110%;
    }
    
    .contenedor{
        gap: 1%;
    }
    .icono{
        font-size: 21px;
        margin: 5px;
    }
    .fab{
        display: block !important;
       
    }
   
    

}


